.blog_posts {

	.threecol {
		margin-right:3%;
	}
	h1 {
		font-family: "MuseoSans-100", Helvetica, Arial, sans-serif;
		color:$blue;
		font-size:1.9em;
		margin:0 0 15px;
		line-height:35px;
	}
	i {
		margin-right:15px;
	}
	.large {
		font-size:1em;
	}
	.elevencol {
		padding-bottom:10px;
		border-bottom:1px solid #d1d1d1;
		margin-bottom:40px;
	}
}