@import "compass/reset";
@import "compass/css3";
$orange: #DC5A24;
$blue: #45A1C6;
$darkgray: #333333;
$gray: #666666;
$lightgray: #DDDDDD;
@font-face {
  font-family: "MuseoSans-100";
  src: url("/font/MuseoSans-100.otf");
  src: local("?"),
    url("/font/MuseoSans-100.otf") format("opentype");
}
@font-face {
  font-family: "MuseoSans-300";
  src: url("/font/MuseoSans-300.otf");
  src: local("?"),
    url("/font/MuseoSans-300.otf") format("opentype");
}
@font-face {
  font-family: "MuseoSans-500";
  src: url("/font/MuseoSans_500.otf");
  src: local("?"),
    url("/font/MuseoSans_500.otf") format("opentype");
}
@font-face {
  font-family: "MuseoSans-700";
  src: url("/font/MuseoSans_700.otf");
  src: local("?"),
    url("/font/MuseoSans_700.otf") format("opentype");
}
/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
html {
	font-size: 100%; /* Set a 16px base size */
}
body {
	margin: 0 auto;
	font-size: 16px;
	font-size: 1em;
	line-height: 1.8;
	background-image:url(../images/wallpaper.png);
	font-family: "MuseoSans-300", Helvetica, Arial, sans-serif;
	text-shadow: 0.5px 0.5px 0 rgba(240, 240, 240, 1); 
  color:$darkgray;
}
@import "_header.scss";
@import "_styling.scss";
@import "_blog.scss";
@import "_comments.scss";

/* ============================= */
/* ! Layout for tablet  */
/* ============================= */
@media only screen and (max-width: 1023px) {
  body {

}
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {
  body {

  }
}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

}
@import "_1140.scss";
@import "_font-awesome.scss";
@import "_IE.scss";