@import "compass/css3";
$orange: #DC5A24;
$blue: #45A1C6;
$darkgray: #333333;
$gray: #666666;
$lightgray: #DDDDDD;
@font-face {
  font-family: "MuseoSans-100";
  src: url("/font/MuseoSans-100.otf");
  src: local("?"),
    url("/font/MuseoSans-100.otf") format("opentype");
}
@font-face {
  font-family: "MuseoSans-300";
  src: url("/font/MuseoSans-300.otf");
  src: local("?"),
    url("/font/MuseoSans-300.otf") format("opentype");
}
@font-face {
  font-family: "MuseoSans-300Italic";
  src: url("../fonts/MuseoSans-300Italic.otf");
  src: local("?"),
    url("../fonts/MuseoSans-300Italic.otf") format("opentype");
}
@font-face {
  font-family: "MuseoSans-500";
  src: url("/font/MuseoSans_500.otf");
  src: local("?"),
    url("/font/MuseoSans_500.otf") format("opentype");
}
@font-face {
  font-family: "MuseoSans-700";
  src: url("/font/MuseoSans_700.otf");
  src: local("?"),
    url("/font/MuseoSans_700.otf") format("opentype");
}
/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
html {
	font-size: 100%; /* Set a 16px base size */
}
body {
	margin: 0 auto;
	font-size: 16px;
	font-size:0.9em;
	line-height: 1.8;
	background-image:url(../images/wallpaper.png);
	font-family: "MuseoSans-300", Helvetica, Arial, sans-serif;
	text-shadow: 0.5px 0.5px 0 rgba(240, 240, 240, 1); 
  color:$darkgray;
}
@import "_header.scss";
@import "_styling.scss";
@import "_blog.scss";
@import "_comments.scss";
@import "_sidebar.scss";

/* ============================= */
/* ! Layout for tablet  */
/* ============================= */
@media only screen and (max-width: 1023px) {
  body {
    .blog_posts {
      .release {
        .info {
          width:60%;
        }
      }
    }
    header {
      #menu_bar {
        i {
          top:8px !important;
          right:10%!important;
        }
      }
    }
}
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 767px) {
  body {
    header {
      h1 {
        margin:5% 0 0;
      }
      h2 {
        margin:0 0 10% 0;
      }
      img {
        display:none;
      }
      #menu_bar {
        input {
          width:25% !important;
        }
        i {
          top:6px !important;
          right:10.3% !important;
        }
      }
    }
  }
}
/* ============================= */
/* ! Layout for small mobile version   */
/* ============================= */
@media handheld, only screen and (max-width:450px) {
  body {
        .blog_posts {
      .release {
        .info {
          width:80%;
        }
        .actions {
          div:last-child {
            display:none;
          }
        }
      }
    }
    header {
      h2 {
        margin:0 0 15% 0;
      }
      #menu_bar {
        input {
          width:30% !important;
        }
        i {
          right:10.7% !important;
        }
      }
    }
  }
}
/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

}
@import "_1140.scss";
@import "_font-awesome.scss";
@import "_IE.scss";